@use "../media-queries" as *;

.booking {
  --flow-space: 2rem;

  > * {
    position: relative;
  }

  input,
  .custom-select,
  .booking__num-people {
    padding-inline: 14px;
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(var(--clr-neutral-700) / 0.5);
    line-height: 1.4;
    padding-block: 0.5rem;
    caret-color: hsl(var(--clr-accent));

    &::placeholder {
      color: hsl(var(--clr-neutral-700) / 0.5);
    }
  }

  .custom-select:has(:focus-within) {
    border-color: transparent;
  }

  .custom-select__trigger {
    padding: 0;
  }

  .date__year,
  .custom-select {
    flex: 1.4;
    min-width: 78px;
  }

  .custom-select__options {
    z-index: 2;
  }

  :where(fieldset) {
    border: none;
    padding: 0;

    > *:not(legend, button) {
      flex: 1;
    }

    legend {
      flex-basis: 135px;

      @include media--tablet-and-up {
        margin-right: 20px;
      }
    }

    @include media--tablet-and-up {
      align-items: flex-end;
    }
  }

  &__date,
  &__time {
    :last-of-type(input) {
      flex-basis: 88px;
    }
  }

  &__num-people {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s;
      width: 30px;
      aspect-ratio: 1;
      transform: scale(1.25);
      &:hover {
        transform: scale(1.5);
        color: hsl(var(--clr-accent));
      }

      &:focus-visible {
        outline-offset: 3px;
      }
    }
  }

  .error {
    display: block;
    padding-inline-start: 1rem;
    top: 100%;
    position: absolute;
    line-height: 3;
  }

  fieldset .error {
    @include media--tablet-and-up {
      padding-inline-start: 0;
      line-height: 1;
    }
  }

  legend {
    padding-inline: 0;
    text-align: left;

    @include media--tablet-and-up {
      float: left;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 1rem;
  }

  input:focus-visible {
    outline: 1px solid hsl(var(--clr-neutral-700));
    border-bottom-color: transparent;
  }

  // hide the up and down arrow
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.booking-wrapper {
  padding-bottom: 86px;

  @include media--laptop-and-up {
    grid-template-columns: 1fr 1fr;
  }
}
