.btn {
  border: 1px solid;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-700);
  font-weight: 700;
  padding: 1.5rem 3rem;
  font-size: var(--fs-500);
  cursor: pointer;

  &--primary {
    background-color: hsl(var(--clr-neutral-700));
    color: hsl(var(--clr-neutral-100));

    &:hover {
      color: hsl(var(--clr-neutral-600));
      background-color: hsl(var(--clr-neutral-100));
    }

    &[disabled] {
      color: hsl(var(--clr-neutral-100) / 0.4);
    }
  }

  &--secondary {
    color: hsl(var(--clr-neutral-700));

    &:hover {
      color: hsl(var(--clr-neutral-100));
      background-color: hsl(var(--clr-neutral-700));
    }

    &[disabled] {
      color: hsl(var(--clr-neutral-700) / 0.4);
    }
  }

  &[disabled] {
    cursor: default;
    background-color: transparent;
  }
}
