@use "../media-queries" as *;

.btn {
  display: inline-block;
  border: 1px solid;
  background-color: hsl(var(--clr-neutral-700));
  color: hsl(var(--clr-neutral-100));
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--letter-spacing-500);
  font-weight: 600;
  padding: 1.5rem 3rem;
  font-size: var(--fs-500);
  cursor: pointer;

  @include can-hover {
    &:hover {
      color: hsl(var(--clr-neutral-600));
      background-color: hsl(var(--clr-neutral-100));
    }
  }

  &:active {
    color: hsl(var(--clr-neutral-600));
    background-color: hsl(var(--clr-neutral-100));
  }

  &:focus-visible {
    outline: 1px solid hsl(var(--clr-neutral-700));
    outline-offset: var(--focus-outline-offset);
  }

  &--primary {
    background-color: transparent;

    @include can-hover {
      &:hover {
        color: hsl(var(--clr-neutral-600));
        background-color: hsl(var(--clr-neutral-100));
      }
    }

    &[disabled] {
      color: hsl(var(--clr-neutral-100) / 40%);
    }

    &:active {
      color: hsl(var(--clr-neutral-600));
      background-color: hsl(var(--clr-neutral-100));
    }

    &:focus-visible {
      outline-color: hsl(var(--clr-neutral-100));
      outline-style: dashed;
    }
  }

  &--secondary {
    color: hsl(var(--clr-neutral-700));

    @include can-hover {
      &:hover {
        background-color: hsl(var(--clr-neutral-700));
      }
    }

    &:active {
      background-color: hsl(var(--clr-neutral-700));
    }

    &[disabled] {
      color: hsl(var(--clr-neutral-700) / 40%);
    }
  }

  &--icon {
    background: transparent;
    color: hsl(var(--clr-accent));
    font-size: var(--fs-400);
    border: none;
    padding: 0.5rem;
  }

  &[disabled] {
    cursor: default;
    background-color: transparent;
  }
}
