@use "../functions" as *;
@use "../media-queries" as *;

.card {
  width: min(to-rem(540px), 100%);
  box-shadow: var(--shadow);
  padding: 2rem;
}

.card--booking {
  --shift: 137px;
  margin-block-start: calc(var(--shift) * -1);
  scroll-margin-top: 20px;

  @include media--tablet-and-up {
    --shift: 231px;
    padding: 3rem;
  }

  @include media--laptop-and-up {
    grid-column: 2;
    margin-block-start: -341px;
  }
}
