@use "../media-queries" as *;

.features {
  --shift: -70px;
  position: relative;
  > .container {
    transform: translateY(var(--shift));

    @include media--tablet-and-up {
      --shift: -100px;
    }
  }

  .decorated-heading {
    text-wrap: balance;
  }

  &__text {
    margin-bottom: 100px;
    margin-inline: auto;
  }

  .features__content:last-of-type .features__text {
    margin-bottom: calc(100px + var(--shift));
  }

  &__picture {
    box-shadow: var(--shadow);
    position: relative;

    @include media--tablet-and-up {
      &:last-of-type::after {
        content: url(../../assets/patterns/pattern-lines.svg);
        position: absolute;
        right: -25px;
        transform: translateX(20%);
        bottom: 40px;
      }
    }
  }

  @include media--tablet-and-up {
    background: url(../assets/patterns/pattern-curve-top-right.svg) no-repeat,
      url(../assets/patterns/pattern-curve-top-left.svg) no-repeat;
    background-position: -69vw 130px, 50vw bottom;
  }
}
