@use "../media-queries" as *;

.footer {
  padding-block: 80px;
  &__logo {
    margin-bottom: 42px;
  }

  address {
    font-style: normal;
    margin-bottom: 32px;
  }

  dl div {
    display: flex;
    gap: 1ch;
  }

  @include media--tablet-and-up {
    .container {
      grid-template-columns: 33.33% 1fr;
      text-align: left;
      justify-items: start;
    }

    &__openings {
      grid-column: 2;
    }
  }
}
