@use "../media-queries" as *;

.footer {
  padding-block: 80px;

  &__logo {
    margin-bottom: 42px;

    @include media--tablet-and-up {
      margin-bottom: 0;
      align-self: start;
    }
  }

  address {
    font-style: normal;
    margin-bottom: 32px;
  }

  dl div {
    display: flex;
    gap: 1ch;
  }

  .container {
    @include media--tablet-and-up {
      grid-template-columns: 33.33% 1fr;
      text-align: left;
      justify-items: start;
    }

    @include media--laptop-and-up {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__openings {
    @include media--tablet-and-up {
      grid-column: 2;
    }

    @include media--laptop-and-up {
      grid-column: 3;
    }
  }
}
