@use "../media-queries" as *;

.hero {
  position: relative;

  &__picture img {
    opacity: 0.97;
    height: 220px;
    width: 100%;
    object-fit: cover;
    object-position: top;

    @include media--tablet-and-up {
      height: 350px;
    }
  }

  &__logo {
    margin-inline: auto;
    margin-bottom: 36px;
  }

  &__content {
    padding-top: 1rem;
    padding-bottom: 150px;
  }

  &__title {
    margin-bottom: 21px;
    line-height: 1.25;

    @include media--laptop-and-up {
      line-height: 1;
    }
  }

  &__text {
    margin-bottom: 52px;
  }
}
