@use "../media-queries" as *;

/* .hero {

  position: relative;

  display: grid;

  &__picture {
    grid-area: picture;
    img {
      opacity: 0.97;
      height: 220px;
      width: 100%;
      object-fit: cover;
      object-position: top;

      @include media--tablet-and-up {
        height: 350px;
      }

      @include media--laptop-and-up {
        height: 850px;
        object-fit: right;
      }
    }
  }



  &__content {
    grid-area: content;
    padding-top: 1rem;
    padding-bottom: 150px;

    @include media--laptop-and-up {
      // position: absolute;
      // top: 0;
      // left: 0;
      // bottom: 0;
      // background-color: hsl(var(--clr-neutral-700));
    }
  }



  @include media--laptop-and-up {
    grid-template-columns: 600px 1fr;
    grid-template-areas: "content picture";
  }
}
 */

.hero {
  --image-height: 220px;
  --bg-img: image-set(
    url("../../assets/homepage/hero-bg-mobile.jpg") 1x,
    url("../../assets/homepage/hero-bg-mobile@2x.jpg") 2x
  );
  --bg-opacity: linear-gradient(
    hsl(var(--clr-neutral-100) / 0.03),
    hsl(var(--clr-neutral-100) / 0.03)
  );
  --bg-box: linear-gradient(
    to bottom,
    transparent var(--image-height),
    hsl(var(--clr-neutral-700)) var(--image-height),
    hsl(var(--clr-neutral-700))
  );

  display: grid;
  background-image: var(--bg-box), var(--bg-opacity), var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: var(--image-height);
  padding-top: calc(var(--image-height) + 1rem);
  padding-bottom: 150px;

  &__logo {
    margin-bottom: 36px;
  }

  &__title {
    margin-bottom: 21px;
    line-height: 1.25;

    @include media--laptop-and-up {
      line-height: 1;
    }
  }

  &__text {
    margin-bottom: 52px;
  }

  &__content {
    @include media--laptop-and-up {
      justify-items: start;
      padding-top: 65px;
      width: 100%;
    }
  }

  @include media--tablet-and-up {
    --bg-img: image-set(
      url("../../assets/homepage/hero-bg-tablet.jpg") 1x,
      url("../../assets/homepage/hero-bg-tablet@2x.jpg") 2x
    );
    --image-height: 350px;
    padding-bottom: 216px;
  }

  @include media--laptop-and-up {
    --bg-img: image-set(
      url("../../assets/homepage/hero-bg-desktop.jpg") 1x,
      url("../../assets/homepage/hero-bg-desktop@2x.jpg") 2x
    );
    --image-height: 821px;

    --bg-box: linear-gradient(
      to right,
      hsl(var(--clr-neutral-700)) 545px,
      transparent 545px
    );

    padding-block: 0;
  }
}
