@use "../media-queries" as *;

.hero {
  --image-height: 220px;
  --bg-img: image-set(
    url("../../assets/homepage/hero-bg-mobile.jpg") 1x,
    url("../../assets/homepage/hero-bg-mobile@2x.jpg") 2x
  );
  --bg-opacity: linear-gradient(
    hsl(var(--clr-neutral-100) / 0.03),
    hsl(var(--clr-neutral-100) / 0.03)
  );
  --bg-box: linear-gradient(
    to bottom,
    transparent var(--image-height),
    hsl(var(--clr-neutral-700)) var(--image-height),
    hsl(var(--clr-neutral-700))
  );

  background-image: var(--bg-box), var(--bg-opacity), var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: var(--image-height);
  padding-top: calc(var(--image-height) + 1rem);
  padding-bottom: 150px;

  &__logo {
    margin-bottom: 36px;
  }

  &__title {
    margin-bottom: 21px;
    line-height: 1.25;

    @include media--laptop-and-up {
      line-height: 1;
    }
  }

  &__text {
    margin-bottom: 52px;
    max-width: 50ch;

    @include media--laptop-and-up {
      max-width: 37ch;
    }
  }

  &__content {
    @include media--laptop-and-up {
      padding-top: 65px;
      width: 100%;
    }
  }

  @include media--tablet-and-up {
    --bg-img: image-set(
      url("../../assets/homepage/hero-bg-tablet.jpg") 1x,
      url("../../assets/homepage/hero-bg-tablet@2x.jpg") 2x
    );
    --image-height: 350px;
    padding-bottom: 216px;
  }

  @include media--laptop-and-up {
    --bg-img: image-set(
      url("../../assets/homepage/hero-bg-desktop.jpg") 1x,
      url("../../assets/homepage/hero-bg-desktop@2x.jpg") 2x
    );
    --image-height: 821px;

    --bg-box: linear-gradient(
      to right,
      hsl(var(--clr-neutral-700)) 545px,
      transparent 545px
    );

    padding-block: 0;
  }
}
