@use "../media-queries" as *;
@use "../mixins" as *;

.highlights {
  padding-block: 70px 100px;

  @include media--tablet-and-up {
    padding-block: 96px;
  }

  @include media--laptop-and-up {
    padding-block: 213px 120px;
  }

  .container {
    @include media--tablet-and-up {
      --spacing: 100px;
    }

    @include media--laptop-and-up {
      gap: 125px;
    }
  }

  .decorated-heading {
    @include media--tablet-and-up {
      margin-top: calc(
        -1 * var(--decoration-space)
      ); // the heading text (not the decoration) should align with the list
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    --gap: 3.875rem;
    margin-bottom: 54px;
    @include media--tablet-and-up {
      display: flex;
      gap: var(--gap);
      text-align: left;
    }
  }

  li {
    --gap: 3.875rem;
    @include media--tablet-and-up {
      display: flex;
      gap: var(--gap);
      text-align: left;
    }
  }

  li:not(:first-child) {
    padding-top: 24px;
    border-top: 1px solid hsl(var(--clr-neutral-100) / 0.15);

    @include media--tablet-and-up {
      margin-top: 1.5rem;
    }
  }

  &__intro {
    margin-bottom: 85px;

    @include media--tablet-and-up {
      margin-bottom: 54px;
    }
  }

  &__picture {
    position: relative;
    margin-bottom: 36px;

    @include media--tablet-and-up {
      margin-bottom: 0;
      flex: 1 0 128px;
    }
  }

  &__name {
    position: relative;
    margin-bottom: 6px;

    @include media--tablet-and-up {
      @include line-left;
    }
  }
}
