@use "buttons";
@use "../media-queries" as *;

[role="tablist"] {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &[aria-orientation="vertical"] {
    flex-direction: column;
  }
}

[role="tab"] {
  --selected-color: hsl(var(--clr-neutral-900) / 0.7);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-500);
  font-weight: 600;
  font-size: var(--fs-500);
  outline: none;

  background-color: transparent;
  padding: 0;
  border: none;
  color: hsl(var(--clr-neutral-900) / 0.35);

  &[aria-selected="true"] {
    color: var(--selected-color);

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: hsl(var(--clr-accent));
      width: 48px;
      margin-inline: auto;
      transform: translateY(8px);
    }
  }

  &:focus-visible {
    outline: 1px solid hsl(var(--clr-neutral-700));
  }

  @include can-hover {
    &:hover {
      color: var(--selected-color);
    }
  }
}
