@use "buttons";
@use "../media-queries" as *;

[role="tablist"] {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &[aria-orientation="vertical"] {
    flex-direction: column;

    @include media--laptop-and-up {
      align-items: start;
    }
  }
}

[role="tab"] {
  --alpha: 0.35;
  cursor: pointer;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: var(--letter-spacing-500);
  font-weight: 600;
  font-size: var(--fs-500);
  outline: none;
  background-color: transparent;
  padding: 0;
  border: none;

  &[aria-selected="true"] {
    --alpha: 0.7;
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: hsl(var(--clr-accent));
      width: 48px;
      margin-inline: auto;
      transform: translateY(8px);
    }
  }

  &:focus-visible {
    outline: 1px solid hsl(var(--clr-neutral-700));
  }

  @include can-hover {
    &:hover {
      --alpha: 0.7;
    }
  }
}

[role="tabpanel"]:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: var(--focus-outline-offset);
}
