@use "functions" as *;
@use "media-queries" as *;

:root {
  --ff-system-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --ff-body: "League Spartan";

  --clr-accent: 27 22% 51%; // beaver
  --clr-neutral-100: 0 0% 100%; // white
  --clr-neutral-400: 217 14% 42%; // shuttle gray
  --clr-neutral-500: 218 21% 18%; // ebony clay
  --clr-neutral-600: 234 30% 13%; // mirage
  --clr-neutral-700: 0 0% 7%; // cod gray
  --clr-neutral-900: 0 0% 0%; // black

  --fs-100: #{to-rem(10px)};
  --fs-200: #{to-rem(14px)};
  --fs-300: #{to-rem(16px)};
  --fs-400: #{to-rem(16px)};
  --fs-500: #{to-rem(17px)};
  --fs-600: #{to-rem(20px)};
  --fs-700: #{to-rem(32px)};
  --fs-800: #{to-rem(32px)};

  @include media--tablet-and-up {
    --fs-400: #{to-rem(20px)};
    --fs-700: #{to-rem(48px)};
    --fs-800: #{to-rem(48px)};
  }

  @include media--laptop-and-up {
    --fs-800: #{to-rem(80px)};
  }

  --letter-spacing-100: -1px;
  --letter-spacing-200: -0.5px;
  --letter-spacing-300: -0.25px;
  --letter-spacing-400: normal;
  --letter-spacing-700: 2.5px;

  --line-height-200: 1.2;
  --line-height-300: 1.25;
  --line-height-400: 1.625;
}
