@use "reset";
@use "root";
@use "functions" as *;
@use "utilities" as *;
@use "media-queries" as *;
@use "components" as *;

body {
  font-family: var(--ff-body), var(--ff-system-sans);
  font-size: var(--fs-400);
}

h1,
h2,
h3 {
  letter-spacing: var(--letter-spacing-300);
}

// temp

body {
  line-height: 1.625;
}
