@use "media-queries" as *;

/* font sizes */

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

/* font weight */

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* colors */

.bg-accent {
  background-color: hsl(var(--clr-accent) / var(--alpha, 1));
}

.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100) / var(--alpha, 1));
}

.bg-neutral-400 {
  background-color: hsl(var(--clr-neutral-400) / var(--alpha, 1));
}

.bg-neutral-500 {
  background-color: hsl(var(--clr-neutral-500) / var(--alpha, 1));
}

.bg-neutral-600 {
  background-color: hsl(var(--clr-neutral-600) / var(--alpha, 1));
}

.bg-neutral-700 {
  background-color: hsl(var(--clr-neutral-700) / var(--alpha, 1));
}

.bg-neutral-900 {
  background-color: hsl(var(--clr-neutral-900) / var(--alpha, 1));
}

.text-accent {
  color: hsl(var(--clr-accent) / var(--alpha, 1));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100) / var(--alpha, 1));
}

.text-neutral-400 {
  color: hsl(var(--clr-neutral-400) / var(--alpha, 1));
}

.text-neutral-500 {
  color: hsl(var(--clr-neutral-500) / var(--alpha, 1));
}

.text-neutral-600 {
  color: hsl(var(--clr-neutral-600) / var(--alpha, 1));
}

.text-neutral-700 {
  color: hsl(var(--clr-neutral-700) / var(--alpha, 1));
}

.text-neutral-900 {
  color: hsl(var(--clr-neutral-900) / var(--alpha, 1));
}

/* letter spacing */

.ls-300 {
  letter-spacing: var(--letter-spacing-300);
}
.ls-400 {
  letter-spacing: var(--letter-spacing-400);
}
.ls-500 {
  letter-spacing: var(--letter-spacing-500);
}

/* line-height */

.lh-200 {
  line-height: var(--line-height-200);
}

.lh-300 {
  line-height: var(--line-height-300);
}

.lh-400 {
  line-height: var(--line-height-400);
}

.lh-500 {
  line-height: var(--line-height-500);
}

/* layout */

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.d-block {
  display: block;
}

/* other */

.uppercase {
  text-transform: uppercase;
}

.hide,
.hidden,
[hidden] {
  display: none;
}

.container {
  text-align: center;
  display: grid;
  align-content: start;
  justify-items: center;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 24px;

  @include media--tablet-and-up {
    max-width: 621px;
    // grid-template-columns: minmax(1rem, 1fr) repeat(2, 1fr) minmax(1rem, 1fr);
  }
}
