.error {
  color: hsl(var(--clr-error));
}

.was-validated {
  input:invalid {
    border-color: hsl(var(--clr-error));
    color: hsl(var(--clr-error));

    &::placeholder {
      color: hsl(var(--clr-error));
    }
  }
}
