.error {
  color: hsl(var(--clr-error));
  font-size: var(--fs-100);
  font-weight: 500;
}

.was-validated {
  input:invalid {
    border-color: hsl(var(--clr-error));
    color: hsl(var(--clr-error));

    &:not(:focus)::placeholder {
      color: hsl(var(--clr-error) / 0.5);
    }
  }

  fieldset:invalid {
    legend {
      color: hsl(var(--clr-error));
    }

    .custom-select {
      border-color: hsl(var(--clr-error));
    }

    .custom-select:has(:focus) {
      border-color: hsl(var(--clr-neutral-700));
    }

    .custom-select__trigger {
      color: hsl(var(--clr-error) / 0.5);
    }
  }
}
